@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Define variables here */
:root {
/* colors */
  --color-black: #3B351F;
  --color-white: #FCF4F1;
  --color-red: #B04E21;
  --color-green: #949C8D;
  --color-yellow: #DDAE44;
  --color-background: var(--color-black);
  --color-card-background: var(--color-white);
  --color-text: var(--color-black);
  --color-button: var(--color-red);
  --color-accent-1: var(--color-red);
  --color-accent-2: var(--color-green);
  --color-accent-3: var(--color-yellow);
}


html {
  min-height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 100% */
  letter-spacing: 4px;
  margin: 0;
  padding: 10px 0;
}

h2 {
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px; /* 142.857% */
  margin: 0;
  padding: 10px 0;
}
 
p {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 10px 0;
}

body { 
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.page-content {
  min-height: 100vh;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.background-colors {
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle.green { 
  background-color: var(--color-green);
  width: 73vh;
  height: 73vh;
}

.circle.green.top {
  left: -10%;
  top: -10%;
}

.circle.red { 
  background-color: var(--color-red);
  width: 55vh;
  height: 55vh;
}

.circle.red.top {
  left: 15%;
  top: 13%;
}

.circle.yellow { 
  background-color: var(--color-yellow);
  width: 28vh;
  height: 28vh;
}

.circle.yellow.top {
  top: 48%;
  left: 12%;
}

.circle.green.bottom {
  right: -10%;
  bottom: -58%;
}

.circle.red.bottom {
  right: 4%;
  bottom: -30%;
}

.circle.yellow.bottom {
  right: -3%;
  bottom: 2%;
}

.transparent {
  opacity: 50%;
}

.card {
  background-color: var(--color-card-background);
  display: flex;
  max-width: 600px;
  padding: 60px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

/* mailer lite overrides */

/* form layout */
    #mailer-lite-container {
      width: 100%;
    }

    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
      max-width: unset !important;
    }

    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody {
      display: flex;
      gap: 30px;
      flex-direction: column;
      align-items: center;
    }

    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm,
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody,
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent, 
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
      margin: 0;
      padding: 0;
    }

/* form copy */
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent {
      text-align: center;
    }

/* form input */
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow {
      display: flex;
      padding: 10px 0px;
      align-items: center;
      gap: 20px;
      align-self: stretch;
    }

    #mailer-lite-container .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
      padding-right: 0;
    }

/* form button */
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
      padding: 15px 30px !important;
      font-family: 'Quicksand', sans-serif !important;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
    }

/* success message */
    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
      display: flex;
      flex-direction: column;
      padding: 10px 0px;
      align-items: center;
      gap: 20px;
      align-self: stretch;
    }

    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
      font-family: 'Quicksand', sans-serif !important;
      text-align: center;
      font-size: 21px;
      font-style: normal;
      font-weight: 300;
      line-height: 30px; /* 142.857% */
      margin: 0;
      padding: 10px 0;
    }

    #mailer-lite-container #mlb2-8104530.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
      font-family: 'Quicksand', sans-serif !important;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin: 0;
      padding: 10px 0;
    }

/* small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card {
    padding: 60px 5% 15px;
  }

  h1 {
    font-size: 48px;
  }
}

/* extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  .card {

  }

  h1 {
    font-size: 48px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
